<h1 class="text-center">จัดการ ป.58</h1>
<div class="row">
  <div class="col-sm-4">
    <div class="form-group">
      <%= link_to 'กลับสู่หน้าหลัก' , home_path , class: 'btn btn-danger' %>
      <%= link_to 'สร้าง ป.58' , new_outbound_path , class: 'btn btn-primary' %>
      <%= link_to 'ตรวจสอบถุง' , bags_path , class: 'btn btn-success' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <div class="form-group">
      <%= form_tag(outbounds_path , method: :get) do%>
        <%= text_field_tag(:search , params[:search] , class: 'form-control' , placeholder:'ค้นหาโดยหมายเลขเอกสาร' , size: 100) %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-3">
    <%= submit_tag ("ค้นหา") , class: 'btn btn-info' %>
    <%= link_to "แสดงป.58 ทั้งหมด" , outbounds_path , class: 'btn btn-info' %>
  </div>
</div>
<hr>

<div class="col-sm-12">
  <% @outbounds.each do |outbound| %>
  <div class="col-sm-6">
    <div class="well">
        <strong>เลขที่เอกสาร : </strong><%= outbound.outbound_number %><br>
        <strong>ปลายทาง : </strong><%= outbound.destination %> <br>
        <strong>วัน/เวลาสร้างเอกสาร : </strong><%= outbound.sent_date.strftime("%d/%m/%C") %> <%= outbound.created_at.strftime("%H.%M") %><br>
        <strong>ชื่อผู้สร้าง : </strong><%= outbound.name_check %> <br>
        <strong>จำนวนถุง : </strong><%= outbound.count %> ถุง
        <div class="row">
          <div class="btn-group" role="group" aria-label="ทดสอบ">
            <div class="col-xs-3">
              <%= link_to 'สแกนถุง' , new_outbound_bag_path(outbound.id) , class: 'btn btn-success btn-sm' %>
            </div>
            <div class="col-xs-4">
              <%= link_to 'รายละเอียด' , outbound_path(outbound.id) , class:'btn btn-info btn-sm' %>
            </div>
            <div class="col-xs-5">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle fa fa-print btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <strong>พิมพ์</strong>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><%= link_to ' เรียงต้นทาง (3 แถว)' , prints_origin_path(outbound.id , 'pdf') , class: 'fa fa-print' , target:'_blank'%>&nbsp;&nbsp;</li>
                  <li><%= link_to ' เรียงปลายทาง(3 แถว)' , prints_destination_path(outbound.id , 'pdf') , class: 'fa fa-print' , target:'_blank'%>&nbsp;&nbsp;</li>
                  <li><%= link_to ' เรียงต้นทาง(1 แถว)' , paper_origin_path(outbound.id , 'pdf') , class:'fa fa-print' , target:'_blank ' %>&nbsp;&nbsp;</li>
                  <li><%= link_to ' เรียงปลายทาง(1 แถว)' , paper_destination_path(outbound.id ,'pdf') , class: 'fa fa-print' , target:'_blank'%>&nbsp;&nbsp;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <% end %>
</div>
<div class="col-xs-12">
  <div class="text-center"><%= will_paginate @outbounds , renderer: BootstrapPagination::Rails  %></div>
</div>
