<h1 class="text-center">จัดการ ป.58</h1>
<div class="row">
  <div class="col-lg-3">
    <div class="form-group">
      <%= link_to 'กลับสู่หน้าหลัก' , home_path , class: 'btn btn-danger' %>
      <%= link_to 'สร้าง ป.58' , new_outbound_path , class: 'btn btn-primary' %>
      <%= link_to 'ส่งคำติชม' , new_feedback_path , class: 'btn btn-info' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9">
    <div class="form-group">
      <%= form_tag(outbounds_path , method: :get) do%>
        <%= text_field_tag(:search , params[:search] , class: 'form-control' , placeholder:'ค้นหาโดยหมายเลขเอกสาร' , size: 100) %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3">
    <%= submit_tag ("ค้นหา") , class: 'btn btn-info' %>
    <%= link_to "แสดงป.58 ทั้งหมด" , outbounds_path , class: 'btn btn-info' %>
  </div>
</div>
<hr>

<div class="col-lg-12">
  <% @outbounds.each do |outbound| %>
  <div class="col-lg-4">
    <div class="jumbotron">
      <div class="container">
        <strong>เลขที่เอกสาร : </strong><%= outbound.outbound_number %><br>
        <strong>ปลายทาง : </strong><%= outbound.destination %> <br>
        <strong>วันที่ส่งมอบ : </strong><%= outbound.sent_date.strftime("%d/%m/%C") %> <br>
        <strong>ชื่อผู้สร้าง : </strong><%= outbound.name_check %> <br>
        <%= link_to 'สแกนสิ่งป้ายปากถุง' , new_outbound_bag_path(outbound.id) , class: 'btn btn-success' %>
        <%= link_to 'รายละเอียดเพิ่มเติม' , outbound_path(outbound.id) , class:'btn btn-primary' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
