<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <title></title>
  </head>
  <body>
    <% if params[:debug].present? %>
      <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <% else %>
      <%= stylesheet_link_tag wicked_pdf_asset_base64 'report' %>
    <% end %>
    <table class="table table-bordered">
      <thead>
        <th>#</th>
        <th>Number</th>
        <th>Service</th>
        <th>Origin</th>
        <th>Destination</th>
      </thead>
      <tbody>
        <% count = 0 %>
        <% @bags.each do |bag| %>
        <tr>
          <td><%= count += 1 %></td>
          <td><%= bag.number %></td>
          <td><%= bag.service %></td>
          <td><%= bag.origin %></td>
          <td><%= bag.destination %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
