<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= wicked_pdf_stylesheet_link_tag 'report' %>
    <title></title>
  </head>
  <body>
    <% if params[:debug].present? %>
      <%= stylesheet_link_tag 'report' %>
    <% else %>
      <%= wicked_pdf_stylesheet_link_tag 'report' %>
    <% end %>
    <h3>บัญชีมอบหมายถุงไปรษณีย์ในประเทศ</h3>
  </body>
</html>
