<h1 class="text-center">รายละเอียดบัญชี ป.58</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group" role="group">
        <%= link_to ' ย้อนกลับ' , outbounds_path , class: 'btn btn-danger fa fa-backward btn-sm'%>
        <%= link_to ' สแกน' , new_outbound_bag_path(@outbound.id) , class: 'btn btn-success fa fa-barcode btn-sm' %>
        <div class="dropdown show">
          <a class="btn btn-dark btn-sm fa fa-print" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            พิมพ์
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to ' เรียงต้นทาง (3 แถว)' , prints_origin_path(@outbound.id , 'pdf') , class: 'fa fa-print dropdown-item' , target:'_blank'%>&nbsp;&nbsp;
            <%= link_to ' เรียงปลายทาง(3 แถว)' , prints_destination_path(@outbound.id , 'pdf') , class: 'fa fa-print dropdown-item' , target:'_blank'%>&nbsp;&nbsp;
            <%= link_to ' เรียงต้นทาง(1 แถว)' , paper_origin_path(@outbound.id , 'pdf') , class:'fa fa-print dropdown-item' , target:'_blank ' %>&nbsp;&nbsp;
            <%= link_to ' เรียงปลายทาง(1 แถว)' , paper_destination_path(@outbound.id ,'pdf') , class: 'fa fa-print dropdown-item' , target:'_blank'%>&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">รายละเอียด ป.58 เลขที่ <%= @outbound.outbound_number %></h6>
          <div class="card-text">
            <div class="row">
              <div class="col-sm-4">
                <strong>เลขที่ : </strong><%= @outbound.outbound_number %> <br>
                <strong>ต้นทาง : </strong><%= @outbound.origin %> <br>
                <strong>ปลายทาง: </strong><%= @outbound.destination %> <br>
                <strong>จำนวนถุงทั้งสิ้น </strong> <%= @outbound.count %> ถุง <br>
              </div>
              <div class="col-sm-4">
                <strong>วันที่เอกสาร : </strong><%= @outbound.sent_date.strftime("%d/%m/%y") %>  <br>
                <strong>เลขที่สายรัด : </strong><%= @outbound.strap %> <br>
                <strong>ทะเบียนรถ : </strong><%= @outbound.car %> <br>
                <strong>ชื่อผู้สร้าง : </strong><%= @outbound.name_check %>
              </div>
              <div class="col-sm-4">
                <strong>หมายเหตุ : </strong><%= @outbound.check_remark %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover" id="outbounds">
                  <thead>
                    <th class="text-center">#</th>
                    <th class="text-center">ป้ายปากถุง</th>
                  </thead>
                  <tbody>
                    <% count = 0 %>
                    <% @bags.each do |bag| %>
                    <tr>
                      <td class="text-center"><%= count += 1 %></td>
                      <td class="text-center"><%= bag.number_check.upcase%></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- pagination -->
            <div class="col-xs-12">
              <div class="text-center"><%= will_paginate @bags, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>
