<h1 class="text-center">รายละเอียดบัญชีมอบหมายถุงไปรษณีย์ในประเทศ ป.58</h1>
<div class="col-lg-12">
  <%= link_to 'ย้อนกลับ' , outbounds_path , class: 'btn btn-danger' %>
  <%= link_to 'สแกนสิ่งป้ายปากถุง' , new_outbound_bag_path(@outbound.id) , class: 'btn btn-success' %>
  <%= link_to ' พิมพ์เอกสารเรียงตามต้นทาง' , prints_origin_path(@outbound.id , 'pdf')  , class: 'btn btn-outline btn-primary fa fa-print' , target:'_blank'%>
  <%= link_to ' พิมพ์เอกสารเรียงตามปลายทาง' , prints_destination_path(@outbound.id , 'pdf')  , class: 'btn btn-outline btn-info fa fa-print' , target:'_blank'%>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">รายละเอียด ป.58 เลขที่ <%= @outbound.outbound_number %></div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <strong>เลขที่ : </strong><%= @outbound.outbound_number %> <br>
          <strong>ต้นทาง : </strong><%= @outbound.origin %> <br>
          <strong>ปลายทาง: </strong><%= @outbound.destination %> <br>
          <strong>จำนวนถุงทั้งสิ้น </strong> <%= @bags.count%> ถุง <br>
        </div>
        <div class="col-lg-6">
          <strong>วันที่เอกสาร : </strong><%= @outbound.sent_date.strftime("%d/%m/%y") %>  <br>
          <strong>เลขที่สายรัด : </strong><%= @outbound.strap %> <br>
          <strong>ทะเบียนรถ : </strong><%= @outbound.car %> <br>
          <strong>ชื่อผู้สร้าง : </strong><%= @outbound.name_check %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">รายละเอียดถุง</div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered" id="outbounds">
          <thead>
            <th class="text-center">#</th>
            <th class="text-center">เลขป้ายปากถุง</th>
            <th class="text-center">บริการ</th>
            <th class="text-center">ต้นทาง</th>
            <th class="text-center">ปลายทาง</th>
          </thead>
          <tbody>
            <% count = 0 %>
            <% @bags.each do |bag| %>
            <tr>
              <td class="text-center"><%= count += 1 %></td>
              <td class="text-center"><%= bag.number_check.upcase%></td>
              <td class="text-center"><%= bag.service.upcase %></td>
              <td class="text-center"><%= bag.origin %></td>
              <td class="text-center"><%= bag.destination %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
