<h1 class="text-center">รายละเอียดบัญชีมอบหมายถุงไปรษณีย์ในประเทศ ป.58</h1>
<div class="col-lg-12">
  <%= link_to 'ย้อนกลับ' , outbounds_path , class: 'btn btn-danger' %>
  <%= link_to 'สแกนสิ่งป้ายปากถุง' , new_outbound_bag_path(@outbound.id) , class: 'btn btn-success' %>
  <%= link_to ' พิมพ์เอกสาร' , outbound_path(@outbound.id , 'pdf') , class: 'btn btn-outline btn-info fa fa-print' , target:'_blank'%>
  <div class="panel panel-default">
    <div class="panel-heading">รายละเอียด ป.58 เลขที่ <%= @outbound.outbound_number %></div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <strong>เลขที่ : </strong><%= @outbound.outbound_number %> <br>
          <strong>ต้นทาง : </strong><%= @outbound.origin %> <br>
          <strong>ปลายทาง: </strong><%= @outbound.destination %> <br>
          <strong>จำนวนถุงทั้งสิ้น </strong> <%= @bags.count%> ถุง <br>
        </div>
        <div class="col-lg-6">
          <strong>วันที่เอกสาร : </strong><%= @outbound.sent_date.strftime("%d/%B/%y") %>  <br>
          <strong>เลขที่สายรัด : </strong><%= @outbound.strap %> <br>
          <strong>ทะเบียนรถ : </strong><%= @outbound.car %> <br>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">รายละเอียดถุง</div>
    <div class="panel-body">
      <table class="table table-hover table-bordered">
        <thead>
          <th>#</th>
          <th>เลขป้ายปากถุง</th>
          <th>บริการ</th>
          <th>ต้นทาง</th>
          <th>ปลายทาง</th>
          <th></th>
        </thead>
        <tbody>
          <% count = 0 %>
          <% @bags.each do |bag| %>
          <tr>
            <td><%= count += 1 %></td>
            <td><%= bag.number_check  %></td>
            <td><%= bag.service %></td>
            <td><%= bag.origin %></td>
            <td><%= bag.destination %></td>
            <td>
              <%= link_to outbound_bag_path(@outbound.id , bag) , method: :delete  do %>

              <% end %>
              <%= link_to "ลบ" , outbound_bag_path(@outbound.id , bag) , method: :delete , data:{confirm: 'คุณยืนยันที่จะลบหมายเลขป้ายป้ายปากถุง '+bag.number+" ใช่หรือไม่"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <strong>จำนวนถุงทั้งสิ้น : </strong><%= @bags.count %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>ผู้ส่งมอบ................................. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ผู้ขนส่ง..................................... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ผู้รับ.................................</p>
          <p>(...........................................) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(.............................................) &nbsp; &nbsp; &nbsp;(..............................................)</p>
          <p>วันเดือนปี................................ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;วันเดือนปี................................ &nbsp; &nbsp; &nbsp;วันเดือนปี................................</p>
        </div>
      </div>
    </div>
  </div>
</div>
