<div class="row">
	<div class="col-sm">
		<%= link_to  " จัดการ ป.58 (ใช้ส่งมอบถุง แผนก ลส.)" , outbounds_path , class: 'btn btn-success btn-lg btn-block fa fa-tasks'%>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm">
		<%= link_to " จัดการ ป.210 (ไว้ส่งมอบสิ่งของ)" , internals_path , class:'btn btn-info btn-lg btn-block fa fa-tasks' %>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm">
		<%= link_to " แจ้งปัญหาการใช้งาน" , new_feedback_path , class:'btn btn-light btn-lg btn-block fa fa-comments' %>
	</div>
</div>
<hr>
<% if user_signed_in? %>
	<div class="row">
		<div class="col-sm">
			<%= link_to ' แสดงปัญหาการใช้งานทั้งหมด' , feedbacks_path , class: 'btn btn-primary btn-lg btn-block fa fa-comments' %>
		</div>
	</div>
<% end %>
<nav class="navbar fixed-bottom navbar-light bg-light">
	<%= link_to 'Administrator' , rails_admin_path %>
	<a href="https://github.com/game1095/postapp2020">	&copy;Develop by megamind</a>
</nav>
