<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">รายละเอียด ป.58 เลขที่ <%= @outbound.outbound_number %></div>
      <div class="panel-body">
        <div class="col-lg-12">
          <div class="col-lg-6">
            <strong>เลขที่ : </strong><%= @outbound.outbound_number %> <br>
            <strong>ต้นทาง : </strong><%= @outbound.origin %> <br>
            <strong>ปลายทาง: </strong><%= @outbound.destination %> <br>
          </div>
          <div class="col-lg-6">
            <strong>วันที่เอกสาร : </strong><%= @outbound.sent_date.strftime("%d/%m/%y") %>  <br>
            <strong>เลขที่สายรัด : </strong><%= @outbound.strap %> <br>
            <strong>ทะเบียนรถ : </strong><%= @outbound.car %> <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= form_for [@outbound , @bag] do |form| %>
  <div class="row">
    <div class="col-lg-6">
     <div class="form-group">
      <%= form.label :หมายเลขบัญชีป58 %>
      <%= form.collection_select :outbound_id , Outbound.where(id: @outbound) , :id , :outbound_number ,{ selected: Outbound.where(id: @outbound) } , {class: 'form-control'} %>
      </div>
      <div class="form-group">
        <%= form.label :หมายเลขป้ายปากถุง , class: 'label-control' %>
        <%= form.text_field :number , class: ' form-control' ,  autofocus: true , autocomplete: "off" %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <h2><strong>จำนวนสิ่งของที่สแกนแล้ว : </strong><%= @bag_count.count %> ชิ้น</h2>    
      </div>
      <br>
      <div class="form-group">
        <h2 style="color: <%= @outbound.check %>"><strong>ป้ายปากถุงที่สแกนล่าสุด : </strong><%= @last_bag[0].nil? ? "-" : @last_bag[0].number_check %></h2>
      </div>
    </div>
  </div>
  <div  class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <%= form.submit 'บันทึกผล' , class: 'btn btn-success btn-rounded btn-block' %>
      </div>
    </div>
  </div>
<% end %>

