<h1 class="text-center">ถุงทั้งหมด</h1>
<div class="col-lg-3">
    <div class="form-group">
      <%= link_to 'กลับสู่หน้าหลัก' , outbounds_path , class: 'btn btn-danger' %>
    </div>
  </div>
<div class="form-group">
      <%= form_tag(bags_path , method: :get) do%>
        <%= text_field_tag(:search , params[:search] , class: 'form-control' , placeholder:'ค้นหาโดยหมายเลขเอกสาร' , size: 100) %>
      <% end %>
    </div>

<table class="table table-hover table-bordered">
	<thead>
		<th class="text-center">เลขป้ายปากถุง</th>
		<th></th>
	</thead>
	<tbody>
      <% @bags.each do |bag| %>
      <tr>
        <td class="text-center"><%= bag.number_check %></td>
        <td class="text-center"><%= link_to "ดูรายละเอียด" ,  outbound_path(bag.outbound.id) %></td>
      </tr>
      <% end %>
	</tbody>
</table>
<div class="text-center"><%= will_paginate @bags , renderer: BootstrapPagination::Rails  %></div>
