<h1 class="text-center">สแกนสิ่งของ</h1>
<%= link_to 'ย้อนกลับ' , outbounds_path , class: 'btn btn-danger' %>
<%= link_to 'รายละเอียดเพิ่มเติม ป.58' , outbound_path(@outbound.id) , class: 'btn btn-primary' %>
<%= render 'form' %>

<div class="panel panel-default">
  <div class="panel-heading">ป้ายปากถุงที่สแกนล่าสุด (5 ลำดับล่าสุด)</div>
  <div class="panel-body">
    <div class="col-lg-12">
    	<table class="table table-bordered">
    		<thead>
    			<th>ลำดับ</th>
    			<th>หมายเลขป้ายปากถุง</th>
    			<th>บริการ</th>
    			<th>ต้นทาง</th>
    			<th>ปลายทาง</th>
    		</thead>
    		<tbody>
    			<% count = 0 %>
    			<% @bags.each do |bag| %>
					<tr>
						<td><%= count+=1 %></td>
						<td><%= bag.number %></td>
						<td><%= bag.service %></td>
						<td><%= bag.origin %></td>
						<td><%= bag.destination %></td>
					</tr>
    			<% end %>
    		</tbody>
    	</table>	
    </div>
  </div>
</div>