<%= form_for @internal do |form| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <%= form.label :เลขที่เอกสาร , class: 'label-control' %>
        <%= form.text_field :internal_number , class: ' form-control' , value: Time.now.strftime('%d%m%y')+rand(00000..99999).to_s , readonly: true %>
      </div>
      <div class="form-group">
        <%= form.label :แผนกต้นทาง , class: 'label-control'%>
        <%= form.text_field :origin , class:'form-control' , placeholder: 'ระบุแผนกต้นทาง' , required: true %>
      </div>
      <div class="form-group">
        <%= form.label :แผนกปลายทาง , class: 'label-control'%>
        <%= form.text_field :destination , class: 'form-control', placeholder: 'ระบุแผนกปลายทาง' , required: true  %>
      </div>
      <div class="form-group">
        <%= form.label :วันที่สร้างเอกสาร , class:'label-control' %>
        <%= form.date_field :sent_date , class: 'form-control' , value: Time.now.strftime('%Y-%m-%d') , required: true %>
      </div>
      <div class="form-group">
        <%= form.label :ชื่อผู้สร้าง , class: 'label-control' %>
        <%= form.text_field :name , class:'form-control' , required: true , placeholder: 'โปรดระบุชื่อ-สกุล เพื่อใช้ในการตรวจสอบ' %>
      </div>
      <div class="form-group">
        <%= form.label :หมายเหตุ , class: 'label-control' %>
        <%= form.text_area :remark , class: 'form-control' , placeholder: 'ระบุหมายเหตุเพิ่มเติม' , cols: 5, rows: 2 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <%= form.submit 'บันทึกผล' , class: 'btn btn-success btn-rounded btn-block' %>
          </div>
          <div class="col-sm-6">
            <%= link_to ' ย้อนกลับ' ,  internals_path , class: 'btn btn-danger btn-rounded btn-block fa fa-backward' %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
