<h1 class="text-center">จัดการ ป.210</h1>
<div class="row">
  <div class="col-sm">
    <div class="form-group">
      <%= link_to ' กลับสู่หน้าหลัก' , home_path , class: 'btn btn-danger btn-lg fa fa-home' %>
      <%= link_to ' สร้าง ป.210' , new_internal_path , class: 'btn btn-success btn-lg fa fa-plus' %>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <% @internals.each do |internal| %>
  <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <strong>หมายเลขเอกสาร : </strong><%= internal.internal_number %> <br>
          <strong>ต้นทาง : </strong><%= internal.origin %> <br>
          <strong>ปลายทาง : </strong><%= internal.destination %> <br>
          <strong>วัน/เวลาสร้างเอกสาร : </strong><%= internal.sent_date.strftime("%d/%m/%C") %> <%= internal.created_at.strftime("%H.%M") %><br>
          <strong>ชื่อผู้สร้าง : </strong><%= internal.name %> <br>
          <strong>จำนวนสิ่งของ : </strong><%= internal.internal_count %><br>
          <div class="btn-group" role="group">
            <%= link_to ' สแกน' , new_internal_parcels_path(internal.id) , class: 'btn btn-success btn-sm fa fa-barcode' %>
            <%= link_to ' ข้อมูล' , internal_path(internal.id)  , class:'btn btn-info btn-sm fa fa-info' %>
            <% if user_signed_in? %>
              <%= link_to ' ลบ' , internal_path(internal.id), class: 'btn btn-danger btn-sm fa fa-trash' , method: :delete , data: {confirm: "คุณแน่ใจที่จะลบ ป.210 หมายเลข #{internal.internal_number} ***การลบจะทำถุงใน ป.210 หมายเลขดังกล่าวถูกลบทั้งหมด ***" }  %>
            <% end %>
            <%= link_to ' พิมพ์' , paper_internal_path(internal.id , 'pdf') , class: 'btn btn-dark btn-sm fa fa-print' , target:'_blank' %>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>
<div class="col-xs">
  <div class="text-center"><%= will_paginate @internals, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></div>
</div>
