<h1 class="text-center">รายละเอียดบัญชี ป.210</h1>
  <div class="row">
    <div class="col-sm">
      <%= link_to ' ย้อนกลับ' , internals_path , class: 'btn btn-danger fa fa-backward'%>
      <%= link_to ' สแกน' , new_internal_parcels_path(@internal.id) , class: 'btn btn-success fa fa-barcode' %>
      <%= link_to ' พิมพ์เอกสาร' , paper_internal_path(@internal.id , 'pdf') , class: 'btn btn-dark fa fa-print' , target:'_blank' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">รายละเอียด ป.210 เลขที่ <%= @internal.internal_number %></h5>
          <div class="card-text">
            <div class="row">
              <div class="col-sm-4">
                <strong>เลขที่ : </strong><%= @internal.internal_number %> <br>
                <strong>ต้นทาง : </strong><%= @internal.origin %> <br>
                <strong>ปลายทาง: </strong><%= @internal.destination %> <br>
              </div>
              <div class="col-sm-4">
                <strong>วันที่เอกสาร : </strong><%= @internal.sent_date.strftime("%d/%m/%y") %>  <br>
                <strong>ชื่อผู้สร้าง : </strong><%= @internal.name %><br>
                <strong>จำนวนสิ่งของ : </strong><%= @internal.internal_count %>
              </div>
              <div class="col-sm-4">
                <strong>หมายเหตุ : </strong><%= @internal.remark %>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-hover" id="outbounds">
                  <thead>
                    <th class="text-center">เลขสิ่งของ</th>
                    <th class="text-center">ว/ด/ป เวลา ที่สแกน</th>
                  </thead>
                  <tbody>
                    <% count = 0 %>
                    <% @parcels.each do |bag| %>
                    <tr>
                      <td class="text-center"><%= bag.parcel_number_check.upcase%></td>
                      <td class="text-center"><%= bag.created_at.strftime("%d/%m %H:%M:%S") %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="text-center"><%= will_paginate @parcels, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></div>
  </div>
