<div class="row">
  <div class="col-12">
    <%= link_to 'กลับหน้าหลัก' , root_path , class: 'btn btn-danger' %>
    <hr>
    <div class="card">
      <div class="card-title text-center"> แจ้งปัญหาการใช้งาน</div>
      <div class="card-text">
        <%= form_for @feedback do |form| %>
            <div class="col-row">
              <div class="col-12">
                <div class="form-group">
                  <%= form.label :หัวข้อ , class: 'label-control'  %>
                  <%= form.text_field :topic , class: 'form-control' , required: true %>
                </div>
                <div class="form-group">
                  <%= form.label :รายละเอียด , class: 'label-control' %>
                  <%= form.text_area :comment , class: ' form-control' , required: true  %>
                </div>
                <div class="form-group">
                  <%= form.submit 'บันทึกผล' , class: 'btn btn-success btn-rounded btn-block' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
