<!DOCTYPE html>
<html>
  <head>
    <title>Postapp2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <div class="container-fluid">
      <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-light">
        <strong class="badge badge-info"><span class="fa fa-user"></span>&nbsp; ผู้ใช้งาน : <%= current_user.email %></strong><strong><%= link_to 'ลงชื่อออก' , destroy_user_session_path , method: :delete , class: 'btn btn-danger btn-sm' %></strong>
      </nav>
      <% end%>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
